@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.71;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: rgb(229, 9, 20);
    fill: currentColor;
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 8px;
    background-color: rgb(46, 43, 43);
}

.btn {
    padding: 3px 8px;
    font-weight: 500;
    background-color: rgba(33, 31, 31, 0);
    border: 1px solid rgba(232, 225, 225, 0.4);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.eng-sn-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px
    
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 5px;
    border-color: red;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 200;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    background-color: rgba(25, 25, 25, 0.8);
    border: 1px solid rgba(232, 225, 225, 0.4);
}

.btn-red-sm {
    background-color: red;
 }
.first{
    padding: 60px 7px 80px 40px;
    display: flex;
    justify-content: center;
    width: 68vw;
    margin:auto;
    color: white;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .first{
        flex-wrap: wrap;
    }
    }

.secImg{
    position: relative;
}
.secImg img{
    width: 385px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    width: 382px;
    top: 51px;
    right: 0;
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: white
}
.faq{
    background: black;
    color: white;
    padding: 34px;
}
.faqbox:hover{
    background-color:#414141;
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
    font-size: 24px;
    font-weight: 400;
    padding: 24px;
    justify-content: space-between;
    display: flex;
    color: white;
    background-color:#2d2d2d;
    max-width: 70vw;
    margin: 9px auto;
    cursor: pointer;
}
footer{
    color: rgba(255, 255, 255, 0.7);
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 900px) {
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg{
        width: 380px;
    }
    .secImg video {
        width: 380px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    .hero> :nth-child(3) {
        font-size: 18px;
    }
    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    }

@media screen and (max-width: 900px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }
    }
.footer a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7) ;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
